
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Serif+JP:wght@300&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Hind+Siliguri:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
     width: 100%;
     min-height: 100vh;
    font-family: 'Oswald', sans-serif;
 text-align: center;
    background-color: whitesmoke;
    font-size: 1.9em;
    word-spacing: 1px;
}

a{
    text-decoration: none;
    color: black;
}
.logo{
max-width: 40px;
position:absolute;
right: 92%;
top: 1px;



}
header{
    font-family: 'Lora', serif;
font-family: 'Open Sans Condensed', sans-serif;
    position: sticky;
    top: 0;
    background-color: white;
 
  

}
@keyframes header-label {
   0% { color :#5a2672 }
    75% { color: #1b2554} 
        50% {color: red}

    
}
/*aligining the icon and header properly */
 .first{
 padding: 3px;
     text-align: center;
     color: purple;
       font-size: 0.8em;
       font-weight: 589;
       
       animation-name: header-label;
         animation-duration: 6s;
  animation-direction: reverse; 
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;
 }
 h2{
     font-size: 1.3rem;
 }
 h3
 {
 text-align: center;
     color: purple;
       font-size: 1.0rem;

 }
.item:hover, .banner-one:hover, .footer-item:hover, .fooxter-lin:hover{
    text-decoration: underline;
    cursor: pointer;
    text-shadow: 2px 2px 5px purple;
}


.container{
display: flex;

padding-bottom: 10px;





}
.item{
    flex: 1;
    font-weight: 680;
    font-size: 0.9rem;
  

  
}

/*banner list class is for the details list part we are setting a image a side it */



.banner-container{      
     
text-align: left;
background: linear-gradient(135deg,#5a2672 0%,#1b2554 75%);
background-size: cover;

  
font-size: 0.8rem;
    color: white;
    padding: 30PX;
    font-family: 'Open Sans Condensed', sans-serif;
  

}


 img{
     width: 57%;
     
    float:right;

    




 }

.reading-content{
 
margin-top: 10px ;
text-align: center;
font-size: 0.9rem;
font-family: 'Lora', serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Open Sans Condensed', sans-serif;

}

.main-article{
margin: 50px 10px 5px 25px;
word-spacing: 1px;
font-size: 0.8rem;
}

.footer-details{
 

font-size:0.9rem;
text-align: center;

}
.footer-container{
   
display: flex;


}
.footer-item{

    flex: 1;
    justify-content: space-around ;
  
}

.footer-link{
    display: flex;
 justify-content: space-around;
 
 margin-top: 30px;
   padding: 10px;
   font-size: 1.9rem;
 
  
}

.fooxter-link{

    flex: 1 ;
  
    
    
}

   
input{
   
    border-radius: 5px;
   
 
    box-shadow: 0.2px 2px 2px 2px #E6AF2E ;
}


.button{


    box-shadow: 2px 2px 2px 2px p#E6AF2E;
}



   .section-form{


  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
font-size: 1.0rem;
 display: inline-block;
    text-align: center; 
padding: 30px 20px;
margin-top: 90px;
    box-shadow: 10px 10px 5px grey;
 background: linear-gradient(135deg,#5a2672 0%,#1b2554 75%);
background-size: cover;
    max-width: 300px;
   }
   
   
  .button{
padding: 5px 10px;
background-color: lightgreen;
color: black;
cursor: pointer;
box-shadow: 0.1px 0.1px 0.1px 0.1px wheat;
  }
/*setting the margin down to 50px below for better spacing*/
 @keyframes message {

        100%{
            color: white;
        }
 }

 #template{
     animation-name: message;
         animation-duration: 6s;
        
  animation-direction: reverse; 
   animation-iteration-count: infinite;
   animation-timing-function: ease-in;
 }

.footer-banner{
font-family: 'Open Sans Condensed', sans-serif;
color: white;
background-color: white;
  background: linear-gradient(
135deg,#5a2672 0%,#1b2554 75%);

font-size: 1.9rem;
margin-top: 90px  ;

}

@media all and (max-width: 813px){

.section-form{
margin: 120px 240px;
  
}

}
   @media all and (max-width:690px){ 
.logo{
max-width: 40px;
position:absolute;
right: 85%;
top: 9px;}


    .item{

        margin: 0 0 0 -45px;
    }
.section-form{


  border: 1px solid black;
  border-radius: 10px;
margin: 60px 180px auto 180px;
padding: 50px 20px;

  

   }

   .banner-container{
  
    background: linear-gradient(
135deg,#5a2672 0%,#1b2554 75%);
            
 
    font-size: 0.7rem;
  

}
  

   .container{
       display: block;
     text-align: center;
   }

input{
    
    border-radius: 5px;
     
    padding: 5px;
    box-shadow: 2px 2px 2px 2px purple;
}

.button{
    padding: 10px;
}


}

@media all and (max-width: 530px){
  .first {

    font-size: 1.5rem;
  } 
.item{
    margin: 0 0 0 22px;
    font-size: 1.1rem;
}

 
   
      .banner-container{
  
    background: linear-gradient(
135deg,#5a2672 0%,#1b2554 75%);
            
 
    font-size: 0.7rem;
  

  

}


  

   
  .section-form{
font-size: 1.1rem;
margin:60px 30px auto 30px;



    }
    .input{
        padding: 30px;
    }
    .footer-banner, .footer-details, .footer-link, .footer-container{
        display: block;
        
        font-size: 0.8rem;
    }

} 
         


@media all and (max-width: 380px){
   
.first{
    font-size: 1.1rem;
}




  .section-form{
font-size: 1.1rem;
margin:60px 30px auto 30px;



    }
    .input{
        padding: 30px;
    }
    .footer-banner, .footer-details, .footer-link{

        font-size: 0.9rem;
    }

}


